th{
    border:1px solid brown
}

td{
    border:1px solid blue
}
table{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    width:50%;
    height:50%;
}
h1{
    color:palevioletred;
}